div{
	background-color: grey;
}

.union1{
	background-color: pink;
}

#menu{
	background-color: white;
}

.text{
    font-family: Arial;
    font-size: 20px;
    color: #443f3d;
    text-decoration: none;
}