.task{
	font-weight: bold;
	font-size: 18px;
}

#p1{
	font-family: Arial;
	font-size: 10px;
	font-style: italic;
	line-height: 2;
	text-align: right;
	text-indent: 7.25px;
	word-spacing: .5em;
}

#p2{
	font-family: Comic Sans MS;
	font-size: 18px;
	text-decoration: line-through;
	line-height: 1.5;
	text-align: center;
	text-indent: -7.25px;
	word-spacing: .5em;
}

#p3{
	font-family: Verdana;
	font-size: 16px;
	font-style: oblique;
	line-height: 1;
	text-align: justify;
	text-indent: 6.25px;
	word-spacing: .5em;
}

.text{
    font-family: Arial;
    font-size: 20px;
    color: #443f3d;
    text-decoration: none;
}